#Nav
{
    background-color: #B3B3FF;

}

#Nav td ul li
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	float: right;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #B3B3FF;
	text-decoration: none;
	background-color: #B3B3FF;
	display: inline;
	margin: 3px;
	padding-top: 7px;
	padding-right: 3px;
	padding-bottom: 7px;
	padding-left: 3px;


}

#ImageHeader {
    width:250px;
    height:105px;
}
